USE [master]
GO
/****** Object:  Database [analizador_lexico]    Script Date: 22/03/2026 16:26:10 ******/
CREATE DATABASE [analizador_lexico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'analizador_lexico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\analizador_lexico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'analizador_lexico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\analizador_lexico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [analizador_lexico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [analizador_lexico]
GO
/****** Object:  Table [dbo].[delimitadores]    Script Date: 22/03/2026 16:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delimitadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[delimitador] [varchar](10) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[errores]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[error] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
	[id_error] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[palabras_reservadas]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[palabras_reservadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[palabra] [varchar](50) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reglas]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reglas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[regla] [varchar](100) NOT NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[delimitadores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[errores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[palabras_reservadas] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[reglas] ADD  DEFAULT ((1)) FOR [estado]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarDelimitador]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarDelimitador]
    @id INT,
    @delimitador VARCHAR(10),
    @estado BIT
AS
BEGIN

UPDATE delimitadores
SET 
    delimitador = @delimitador,
    estado = @estado
WHERE id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarError]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarError]
    @id INT,
    @error VARCHAR(100),
    @estado BIT
AS
BEGIN

UPDATE errores
SET 
    error = @error,
    estado = @estado
WHERE id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPalabra]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarPalabra]
    @id INT,
    @palabra VARCHAR(50),
    @estado BIT
AS
BEGIN

UPDATE palabras_reservadas
SET 
    palabra = @palabra,
    estado = @estado
WHERE id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarRegla]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarRegla]
    @id INT,
    @regla VARCHAR(100),
    @estado BIT
AS
BEGIN

UPDATE reglas
SET 
    regla = @regla,
    estado = @estado
WHERE id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDelimitador]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarDelimitador]
    @delimitador VARCHAR(10)
AS
BEGIN

INSERT INTO delimitadores (delimitador, estado)
VALUES (@delimitador, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarError]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarError]
    @error VARCHAR(100)
AS
BEGIN

INSERT INTO errores (error, estado)
VALUES (@error, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPalabra]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarPalabra]
    @palabra VARCHAR(50)
AS
BEGIN

INSERT INTO palabras_reservadas (palabra, estado)
VALUES (@palabra, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarRegla]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarRegla]
    @regla VARCHAR(100)
AS
BEGIN

INSERT INTO reglas (regla, estado)
VALUES (@regla, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LeerDelimitadores]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LeerDelimitadores]
AS
BEGIN

SELECT 
    id,
    delimitador,
    estado
FROM delimitadores

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LeerErrores]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LeerErrores]
AS
BEGIN

SELECT 
    id,
    error,
    estado,
    id_error
FROM errores

END

GO
/****** Object:  StoredProcedure [dbo].[sp_LeerPalabras]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LeerPalabras]
AS
BEGIN

SELECT 
    id,
    palabra,
    estado
FROM palabras_reservadas

END
GO
/****** Object:  StoredProcedure [dbo].[sp_LeerReglas]    Script Date: 22/03/2026 16:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LeerReglas]
AS
BEGIN

SELECT 
    id,
    regla,
    estado
FROM reglas

END
GO
USE [master]
GO
